body {
  font-size: 16px;
}

.diplay-none {
  display: none !important;
}

.diplay-block {
  display: block !important;
}

.front{
  display: none;
}
.content {
  display: flex;
}

.header{
  padding: 0 22px 0 22px;
  background-color: brown;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
}

.header .img-logo{
  height: 53px;
  width: 75px;
}
.header .img-logo img {
  width:100%;
}
.header .people-icon {
  font-size:40px;
}

.main {
  width: 100vw;
  margin-top: 80px;
}

.mensage {
  background-color: antiquewhite;
  min-height: 40px;
  height: auto;
  margin-bottom:4px;
  width: 100%;
  display: flex;
}

.enter-room {
  background-color: #DCDCDC;

}

.private {
  background-color: #FFDEDE;
}

.write-text{
  background-color: brown;
  width: 100vw;
  height: 80px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

/* NAV */
.navbar{
  display: none;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0, 0.5);
}
.navbar .nav {
  background-color: #fff;
  max-width: 70vw;
}

.nav .sidebar {
  padding: 0 16px;
}

.list .list-header {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 32px;
  font-weight: bold;
}

.list .list-type {
  display: flex;
  align-items: center;
  padding: 5px 0;
}
.list .icon {
  font-size: 20px;
}
.list .list-type .item-label {
  margin-left: 10px;
}

.list-items .item {
  width: 100%;
  padding: 5px 0;
  display: flex;
  align-items: center;
}

.list-items .item .label {
  margin-left: 10px;
}

.list-items .item .active-item {
  margin-left: auto;
}